<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.esprit.pfe.osgibrowser"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="org.esprit.pfe.osgibrowser">
         </property>
         <property
               name="applicationXMI"
               value="org.esprit.pfe.osgibrowser/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.esprit.pfe.osgibrowser/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
